@import "minima";

// Your custom styles go here
// Change the font family and color for all headings
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: black;
  }
  .page-heading {
    font-size: 2.5rem; // Adjust font size as desired
    font-weight: bold;
    text-align: center; // Center the heading
    margin-bottom: 2rem; // Add some spacing below the heading
    color: #333; // Set the text color
  }
  .post-list {
    list-style: none; // Remove default list style
    padding: 0; // Remove default padding
    margin: 0; // Remove default margin
  
    li {
      margin-bottom: 1.5rem; // Add some spacing between list items
      padding-bottom: 1rem; // Add some padding at the bottom
      border-bottom: 1px solid #ddd; // Add a bottom border
    }
  }
  
  .post-meta {
    font-size: 0.8rem; // Smaller font size for post metadata
    color: #666; // Muted text color
  }
  
  .post-link {
    color: #333; // Set the color for post titles
    text-decoration: none; // Remove underline
  
    &:hover {
      text-decoration: underline; // Add underline on hover
    }
  }
  .rss-subscribe {
    text-align: center; // Center the text
    margin-top: 2rem; // Add some spacing above
  
    a {
      color: #007bff; // Set a link color
      text-decoration: none; // Remove underline
  
      &:hover {
        text-decoration: underline; // Add underline on hover
      }
    }
  }
  .home {
    max-width: 800px; // Set a maximum width for the content
    margin: 0 auto; // Center the content horizontally
    padding: 2rem; // Add some padding around the content
  }
  .site-title {
    text-align: center;
    display: block;
    margin: 20px auto 0px; /* Adjust the margin value as needed */
    width: 100%; /* Assuming the header should take up the full width of its container */
  }
  .site-nav{
    text-align: center;
    display: block;
    margin: 0 auto 10px; /* Adjust the margin value as needed */
    width: 100%;
    line-height: 30px;
  }
  .site-nav .trigger {
    display: flex;
    justify-content: center;
   
  }
  
  .site-nav .page-link {
    margin-right: 1rem;
    border: none;
  }  
  .wrapper {
    margin: 0 auto; // Horizontal auto, vertical 0
    max-width: 1200px; // Set a maximum width if desired
  }
  // Add custom styles for other elements
  // ...